[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:NestJS-Microservices-Fernando-Herrera/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = git@github.com:NestJS-Microservices-Fernando-Herrera/products-microservice.git
